<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Sales Person Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<div>
					<h2 class="my-5">Sales Person</h2>
					<h3 class="alert alert-primary"
						th:if="${salespersons.iterator().hasNext() == false}">
						There are not Sales Person
					</h3>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>ID</th>
		                        <th>Bonus</th>
		                        <th>Modified Date</th>
		                        <th>Sales Last Year</th>
		                        <th>Sales Quota</th>
		                        <th>Sales ytd</th>
		                        <!-- <th>Sales Header</th>  -->
		                        <th>Edit</th>
							</tr>
						</thead>
						<tbody>
                    		<tr th:each="sp : ${salespersons}">
		                        <td class="text-info" th:text="${sp.businessentityid}"></td>
		                        <td class="text-info" th:text="${sp.bonus}"></td>
		                        <td class="text-info" th:text="${sp.modifieddate}"></td>
		                        <td class="text-info" th:text="${sp.saleslastyear}"></td>
		                        <td class="text-info" th:text="${sp.salesquota}"></td>
		                        <td class="text-info" th:text="${sp.salesytd}"></td>
								<td>
									<table>
										<tr th:each="soh : ${sp.salesorderheaders.iterator()}">
											<td><a th:text="Header" th:href="@{/salesorderheader?id={id}(id=${soh.salesorderid})}"></a></td>
										</tr>
									</table>
								</td>
		                       	<td><a th:href="@{/salesperson/edit/{id}(id=${sp.businessentityid})}" class="btn btn-primary"> <i class="fas fa-edit"></i></a></td>
                    		</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5"><a href="/salesperson/add"><i class="far fa-address-book ml-2"></i> <label>Add Sales Person</label></a></p>
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
	</div>
</body>
</html>